.crimson{
  color: crimson;

}

.green{
    color:green
}

.yellow{
    color: yellow;
}

.red{
    color: red;
}

.orange{
    color: orange;
}

#yes{
  color: white;
background-color: darkgreen;

}

#no{
  color: white;
  background-color: red;

}